<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<div>
<div class="form-group">
  <label for="description">What's on your mind </label>
  <input
    type="text"
    class="form-control"
    name="description"
    [(ngModel)]="publication.description"
    #description="ngModel"
  />
  <div class="form-group">
    <button class="btn btn-primary" (click)="add()">Post</button>
  </div>
  <div class="py-4">
    <h5 class="mb-3">Recent posts</h5>
    <tr *ngFor="let publication of publications">

    <div class="p-4 bg-light rounded shadow-sm">
      
        <p class="font-italic mb-0">{{publication.description}}</p>
        
        <button class="btn btn-danger btn-xs" (click)="deltePub(publication.id)">
          
          <span class="glyphicon glyphicon-remove">
              
          </span> Delete</button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-header">
                          
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        
                            </button>
                             <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        
                        </div>
                        <div class="modal-body">
                          
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <div class="form-group">
                                <label for="description">Add comment</label>
                                <input type="text" ngModel="{{comment.text}}" name="description" class="form-control" id="description" placeholder="description" required>
                              </div>
                    
                            <button (click)="addcommenttopublication(publication.id,editForm.value)" data-dismiss="modal" class="btn btn-primary" [disabled]="editForm.valid" >Save changes </button>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div class="modal-footer">
            <button (click)="updatePublication(publication.id,editForm.value)" data-dismiss="modal" class="btn btn-primary" [disabled]="editForm.invalid" >Save changes
            </button>
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add Comment</button>
          
          </div>


        <ul class="list-inline small text-muted mt-3 mb-0">
          
            <button class="social-like" (click)="Addreactpub(publication.id)" >
              <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
              <span class="count" >{{publication.voteCount}}</span>
          </button>
             &nbsp;
          <button class="social-dislike" >
              <span class="dislike" >{{publication.voteCount}}</span>
              <span class="like"><i class="glyphicon glyphicon-thumbs-down"></i></span>
         </button>
         <form #editForm="ngForm">
          <div class="form-group">
            <label for="description">update Publication</label>
            <input type="text" ngModel="{{publicationn?.description}}" name="description" class="form-control" id="description" placeholder="description" required>
          </div>


        </form>
            
        </ul>
        
    </div>
</div>


</div>



  






