<div class="container p-5 ">
  <div class="row justify-content-around">
    <div class="card border-primary mb-3" style="max-width: 18rem;">

      <img class="card-img-top" src="/assets/img/parentspace/search--v2.png" alt="Card image cap">
      <div class="card-body text-primary">
        <h5 class="card-title">Followed</h5>
        <p class="card-text">With kindergarten social network, your children are surrounded, followed every day during
          their days at kindergartens ....</p>
      </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <img class="card-img-top p-5" src="/assets/img/parentspace/news.ico" alt="Card image cap">
      <div class="card-body text-primary">
        <h5 class="card-title">News</h5>
        <p class="card-text">Kindergarten is an essential step in the students' journey to guarantee their academic success </p>
      </div>
    </div>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <img class="card-img-top p-4" src="/assets/img/parentspace/profil.png" alt="Card image cap">
      <div class="card-body text-primary">
        <h5 class="card-title">Personal profile</h5>
        <p class="card-text">With our kindergarten social network platform each parent or kindergarten has a personalized profile ....</p>
      </div>
    </div>
  </div>
</div>
