.mu-skills-area .mu-title h2,
.mu-skills-area .mu-title p {
  color: #fff;
}
.mu-title h2 {
  color: #323232;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#mu-about {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}
.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
  padding: 0 25%;
}
.mu-title h2 {
  color: #323232;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.mu-about-left {
  display: inline;
  float: left;
  padding-right: 30px;
  width: 100%;

}
.mu-about-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%
}

